@import "tailwindcss";

@theme {
  --animate-slow-spin: slow-spin 6s infinite linear;

  @keyframes slow-spin {
    from {
    transform: rotate(0deg)
    }

    to {
    transform: rotate(360deg)
  }
  }
}
