---
import Github from "@assets/icons/Github.svg";
import LinkedIn from "@assets/icons/Linkedin.svg";
const year = new Date().getFullYear();
---

<footer class="w-full min-5-[5vh] bg-neutral-900">
  <ul
    class="flex mx-auto max-w-6xl justify-center items-center gap-4 px-4 sm:px-8 md:px-16 py-4"
  >
    <a href="https://github.com/tomstiani">
      <li class="fill-stone-600">
        <Github class="size-6" />
      </li>
    </a>
    <a href="https://www.linkedin.com/in/tomstiani/">
      <li class="fill-stone-600">
        <LinkedIn class="size-6" />
      </li>
    </a>
  </ul>
</footer>
