---
import Github from "@assets/icons/Github.svg";
import LinkedIn from "@assets/icons/Linkedin.svg";
const year = new Date().getFullYear();
---

<footer class="w-full min-5-[5vh] bg-neutral-900">
  <ul
    class="flex mx-auto max-w-6xl justify-center items-center gap-4 px-4 sm:px-8 md:px-16 py-4"
  >
    <li class="fill-stone-600">
      <a href="https://github.com/tomstiani" aria-label="GitHub">
        <Github class="size-6" />
      </a>
    </li>
    <li class="fill-stone-600">
      <a href="https://www.linkedin.com/in/tomstiani/" aria-label="LinkedIn">
        <LinkedIn class="size-6" />
      </a>
    </li>
  </ul>
</footer>
