---
import Key from "@assets/icons/key.svg";
---

<nav class="w-full fixed top-0 z-50 bg-neutral-800">
  <div
    class="flex mx-auto max-w-6xl justify-between items-center px-4 sm:px-8 md:px-16 py-4"
  >
    <div class="flex items-center gap-4">
      <a href="/" aria-label="Home"
        ><h1 class="text-lg font-semibold text-stone-200">// tomstiani</h1></a
      >
      <!-- <a href="/blog" aria-label="Blog" class="text-stone-400 hover:underline"> -->
      <!--   blog -->
      <!-- </a> -->
      <!-- <a -->
      <!--   href="/contact" -->
      <!--   aria-label="Contact" -->
      <!--   class="text-stone-400 hover:underline" -->
      <!-- > -->
      <!--   contact -->
      <!-- </a> -->
    </div>
    <div class="flex items-center gap-4">
      <a href="https://dashboard.tomstiani.com" aria-label="Toggle menu">
        <Key class="size-6 fill-stone-200" />
      </a>
    </div>
  </div>
</nav>
