<header
  class="page-wrapper flex justify-center items-center flex-col h-[70dvh] gap-4"
>
  <h1
    class="text-3xl md:text-5xl font-medium max-w-lg md:max-w-[840px] text-center mx-auto text-stone-200"
  >
    Make everything as simple as possible, but not simpler.
  </h1>
  <h2
    class="text-lg md:text-2xl text-stone-500 mx-auto text-center max-w-xs md:max-w-md"
  >
    Full-stack developer,<br /> passionate about creating good UX.
  </h2>
  <a
    href="mailto:post@tomstiani.com"
    class="px-2 py-1 border border-stone-200 rounded-lg text-stone-200 mt-8 hover:bg-stone-700 transition-colors duration-100"
  >
    Get in touch
  </a>
</header>
